.hcisComptReporttextitem {
  display: flex;
  color: #333333;
  margin-bottom: 4px;
  :global {
    .hcis-compt-reporttextitem-label {
      background: #eaeff4;
      padding: 7px 8px;
      font-weight: 600;
      line-height: 19px;
      border-radius: 4px;
      width: 9.375rem;
      font-size: 0.875rem;
      color: #222222;
    }
    .hcis-compt-reporttextitem-text {
      flex: 1;
      padding: 7px 8px;
      word-break: break-word;
      line-height: 20px;
      font-size: 0.875rem;
      padding-right: 24px;
      color: #222222;
    }
  }
}
// @include media-breakpoint-down(md) {
//   .hcisComptReporttextitem {
//     :global {
//       .hcis-compt-reporttextitem-label {
//         width: 150px;
//       }
//     }
//   }
// }
// @include media-breakpoint-between(md, lg) {
//   .hcisComptReporttextitem {
//     :global {
//       .hcis-compt-reporttextitem-label {
//         width: 120px;
//       }
//     }
//   }
// }
// @include media-breakpoint-up(xxl) {
//   .hcisComptReporttextitem {
//     :global {
//       .hcis-compt-reporttextitem-label {
//         width: 256px;
//       }
//     }
//   }
// }
