.boxClassroom {
  height: 100px;
  background-color: #f5f5f5;
  margin-bottom: 24px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  .boxAva {
    margin-left: 16px;
  }
  .inforClass {
    display: flex;
    align-items: center;
  }
  .boxDetail {
    margin-left: 16px;
    .boxName {
      margin-bottom: 0px;
      color: #222222;
    }
    .boxMajor {
      margin-top: 0;
      color: #222222;
    }
  }
}
.grades {
  font-size: 30px;
  font-weight: 800;
  color: green;
  margin-right: 20px;
}
